<div>
    <nav>
        <div class="container">
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">
            <img src="img/logo.png" alt="logo-chilito" class="logo"/>
            </a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
            <li><a href="#video">Videos</a></li>
            <li><a href="#tienda">Tienda</a></li>
            <li><a href="#">Contáctame</a></li>
            <li>
                <a href="https://www.facebook.com/chilito.cl" class="ico-rrss">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="https://twitter.com/_Chilito" class="ico-rrss">
                <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="https://instagram.com/chilito.cl/" class="ico-rrss">
                <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="https://www.youtube.com/watch?v=JlGwA9xN9QA" class="ico-rrss">
                <i class="fa fa-youtube" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                
            </li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
            <li><a href="#">Videos</a></li>
            <li><a href="#">Tienda</a></li>
            <li><a href="#">Contáctame</a></li>
            <li>
                <a href="https://www.facebook.com/chilito.cl" class="ico-rrss">
                <span class="fa fa-facebook" aria-hidden="true"></span>
                </a>
                <a href="https://twitter.com/_Chilito" class="ico-rrss">
                <span class="fa fa-twitter" aria-hidden="true"></span>
                </a>
                <a href="https://instagram.com/chilito.cl/" class="ico-rrss">
                <span class="fa fa-instagram" aria-hidden="true"></span>
                </a>
                <a href="https://www.youtube.com/watch?v=JlGwA9xN9QA" class="ico-rrss">
                <span class="fa fa-youtube" aria-hidden="true"></span>
                </a>
            </li>
            </ul>
        </div>
        </div>
    </nav>
    <div class="slider">
        <ul class="slides">
        <li>
            <img src="img/slide1.jpg"/>
        </li>
        <li>
            <img src="img/slide2.jpg"/>
        </li>
        <li>
            <img src="img/slide3.jpg"/>
        </li>
        <li>
            <img src="img/slide4.jpg"/>
        </li>
        <li>
            <img src="img/slide5.jpg"/>
        </li>
        </ul>
    </div>
</div>