<section class="section-footer center-align section">
    <div class="container-fluid">
        <div class="row">
        <div class="col s12 m12">
            <span class="subtitle-section">Amigos que han creido en mi</span>
        </div>
        </div>
        <div class="row">
        <div class="col s12">
            <div class="cont-logo">
            <img src="img/logo1.png" />
            </div>
            <div class="cont-logo">
            <img src="img/logo2.png"/>
            </div>
            <div class="cont-logo">
            <img src="img/logo3.png"/>
            </div>
            <div class="cont-logo">
            <img src="img/logo4.png"/>
            </div>
            <div class="cont-logo">
            <img src="img/logo5.png"/>
            </div>
            <div class="cont-logo">
            <img src="img/logo6.png"/>
            </div>
            <div class="cont-logo">
            <img src="img/logo7.png"/>
            </div>
        </div>
        </div>
        <div class="row no-margin">
        <div class="col s12">
            Copyright © 2016. Todos los Derechos Reservados
        </div>
        </div>
    </div>
</section>