<section class="club section hide-on-med-and-down" id="club">
    <div class="container-fluid">
        <div class="row">
            <div class="col s12 m12 center-align">
                <h2 class="title-section">ÚNETE A MI CLUB</h2>
                <span class="subtitle-section">y compartiré contigo mis mejores alegrías</span>
            </div>
        </div>
        <div class="row">
            <div class="col l3 hide-on-med-and-down">
                <img src="img/astronauta.png" class="img-astro imgClubNew"/>
            </div>
            <div class="col s12 m12 l9">
                <form action="enviar.php" method="post">
                    <input type="text" name="nombre" placeholder="Tu nombre" required/>
                    <input type="text" name="correo" placeholder="Tu correo" required/>
                    <input type="text" name="origen" placeholder="País donde vives" required/>
                    <input type="submit" value="Seamos Amigos" id="boton" class="waves-effect title-section-club submit-club"/>
                </form>
            </div>
        </div>
    </div>
</section>