<section class="tienda" id="tienda">
    <div class="container">
        <div class="row center-align">
            <div class="col s12">
                <h2 class="title-section-blue">MI TIENDA</h2>
                <span class="subtitle-section-blue">Llego hasta donde me quieras llevar</span>
                <cart></cart>
            </div>
        </div>

        <div class="row center-align pd-top">
            <div class="col s12 m4" ng-repeat="item in $ctrl.productos">
                <img class="img" ng-src="{{item.image}}"/>
                <button class="waves-effect waves-light boton" ng-click="$ctrl.details(item.nameUrl)">Ver detallers</button>
                <h5 class="ProductName" ng-bind="item.name"></h5>
                <h5 class="ProductName">${{item.price}}</h5>
            </div>
        </div>
    </div>
</section>